


<div class="space"></div>

<div class="container">


    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input type="text" [(ngModel)]="myBody.id" name="id" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="text" [(ngModel)]="myBody.title" name="title" class="form-control" id="exampleInputPassword1">
        </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="text"  [(ngModel)]="myBody.price" name="price" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Category</label>
            <input type="text" [(ngModel)]="myBody.category" name="category" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="description" [(ngModel)]="myBody.description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        

          <div class="form-group">
            <label for="exampleFormControlFile1">Enter product of image</label>
            <input type="file" accept="image/png, image/jpeg" name="file"  [(ngModel)]="myBody.image"class="form-control-file" id="exampleFormControlFile1">
          </div>

          
            <button type="submit" *ngIf="!myconvert" class="btn btn-primary w-100" (click)="createProduct()">Create</button>
            <button type="submit" *ngIf="myconvert"  class="btn btn-warning w-100" (click)="updateProduct()">Update</button>
    </form>

      <div class="space"></div>  
      <div class="row">
        <div class="tableinfo col-sm">
            <table class="table table-borderde table-dark ">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>image</th>
                    <th>Action</th>
                </tr>
    
                <tr *ngFor="let item of productData">
                    <td>{{item.id}}</td>
                    <td style="width: 100px;">{{item.title}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.description}}</td>
                    <td><img src="{{item.image}}" alt=""></td>
                    <td style="width: 200px;">
                        <button class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</button>
                        <button class="btn btn-warning ml-2"  (click)="editProduct(item)">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
      </div>
        

</div>