


.row{

    width: 100%;
}


.row table{

    width: 90%;
    margin: auto;
    
   
}

table img{

    width: 110px;
    height: 150px;
}

table td{

    width: 5%;
}

form{
    width: 50%;
    margin: auto;
    background-image: url(../../../assets/form.gif);
    background-size: cover;
    padding: 25px;
    color: white;
}