
<div class="space"></div>
<div class="featured row">

     <p>{{'home.FEATURED'|translate}}</p>
   
     <div class="featured-card">
        <img src="../../../assets/feat1.webp" alt="">
        <p>{{'home.T-SHIRTS'|translate}}</p>
        <button routerLink="/mTshirts" >{{'buttons.SHOP NOW'|translate}}</button>
     </div>


     <div class="featured-card">
      <img src="../../../assets/feat2.webp" alt="">
      <p>{{'home.POLO SHIRTS'|translate}}</p>
      <button routerLink="/menpoloshirts">{{'buttons.SHOP NOW'|translate}}</button>
     </div>


      <div class="featured-card">
         <img src="../../../assets/feat3.webp" alt="">
         <p>{{'home.T-SHIRTS'|translate}}</p>
         <button routerLink="/menshorts">{{'buttons.SHOP NOW'|translate}}</button>
      </div>


      <div class="featured-card">
         <img src="../../../assets/feat4.webp" alt="">
         <p>{{'home.T-SHIRTS'|translate}}</p>
         <button routerLink="/mTshirts">{{'buttons.SHOP NOW'|translate}}</button>
      </div>
      
</div>

<div class="space"></div>


