
<div class="styleFooter row">

            <p class="footerTitle"># THE EVERYDAY STYLE</p>

            <div class="styleImage">
                <marquee onmouseover="this.stop()" onmouseout="this.start()">

                    <img src="../../../assets/style1.webp" alt="">
                    <img src="../../../assets/style2.webp" alt="">
                    <img src="../../../assets/style3.webp" alt="">
                    <img src="../../../assets/style4.webp" alt="">
                    <img src="../../../assets/style5.webp" alt="">
                    <img src="../../../assets/style6.webp" alt="">
                    <img src="../../../assets/style1.webp" alt="">
                    <img src="../../../assets/style3.webp" alt="">
                    <img src="../../../assets/style1.webp" alt="">
                    <img src="../../../assets/style4.webp" alt="">
                    <img src="../../../assets/arr1.webp" alt="">
                    <img src="../../../assets/arr2.jpg" alt="">
                    <img src="../../../assets/style2.webp" alt="">
                

                </marquee>
            </div>

            <div class="space"></div>
            <div class="space"></div>

    <div class="footer">
      

        <div class="footerContent">
                <div class="legal styList">


                    <ul>
                    <li>Join Us</li>
                    <li> Privacy Policy</li>
                    <li>Return & Exchange Policy</li>
                    <li>Call us</li>
                    <li>Branches</li>
                    </ul>
        
                </div>
     
                <div class="siteMap styList">

                
                    <ul>
                        <li>MEN</li>
                        <li>KIDS</li>
                        <li>ACCESSORIES</li>
                        <li>OUR DESIGNER SELECTION</li>
                        <li>INFLUENSERS' SELECTION</li>
                        <li>MEGA SALE</li>
                    </ul>

                </div>


                <div class="customer styList">

                    <ul>
                        <li>Contact US</li>
                        <li>FAQS</li>
                       
                    </ul>

                </div>

                <div class="newSletter">
                    <div class="footerNew">
                        <p>Sign up for exclusive updates, new arrivals & insider only discounts</p>
                        <span><input type="text" placeholder="&nbsp; enter your email address"></span>
                        <span><button>SUBMIT</button></span>
                    </div>
                </div>
        </div>

    </div>
</div>










