



 marquee{
    background-color: rgb(238, 94, 94);
    color: rgb(11, 11, 12);
    font-weight: 600;
    font-size: 18px;
    width: 100%;

}



svg{

    color: white;
    
}



.form-inline{

    
    margin-left: 60px;

}

.form-inline svg{

    margin-left: 55px;
}







