




.container{

    
    padding-top: 20px;
}





.image img{

    width: 100%;
    height: 520px;
}



.card{

    box-shadow: 2px 2px 2px 0 black;
    height: 500px;

}

.card img{

    height: 250px;
}

.card-body{

     background-color: chocolate;
}