

<div class="shorts row">

    <div class="shorts-image">
        <button routerLink="/mTshirts">{{'buttons.SHOP NOW'|translate}}</button>
    </div>
    <div class="shorts-carosle">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
              
                <div class="card-deck">
                    <div class="card">
                      <img src="../../../assets/short1.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text"routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/short2.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text"routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/short3.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text"routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                </div>
               
              </div>


              <div class="carousel-item">
                 
                <div class="card-deck">
                    <div class="card">
                      <img src="../../../assets/short4.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text" routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/short5.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text" routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/short6.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card.</p>
                        <p class="card-text" routerLink="/menshorts"><button>{{'buttons.SHOP NOW'|translate}}</button></p>
                      </div>
                    </div>
                </div>
                

              </div>
             
            </div>
           <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
        </div>

    </div>


    <div class="space"></div>
      

      <div class="street row">

           <div class="street-content">
            <p>{{'home.STREETWEARS'|translate}}</p>
            <button routerLink="/mTshirts">{{'buttons.SHOP NOW'|translate}}</button>  
           </div>

      </div>
</div>
