

<div class="space"></div>


   
<div class="space"></div>

<div class="container">

    <table class="table table-borderde table-dark ">

      <th>ID</th>
      <th>Title</th>
      <th>Image</th>
      <th>Price</th>
      <th>Category</th>
      <th>Description</th>

      <tr>
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td><img src="{{data.image}}" alt=""></td>
        <td>{{data.price}}</td>
        <td>{{data.category}}</td>
        <td>{{data.description}}</td>
      </tr>

    </table>
</div>
