

















<div class="container">

 

    <div class="space"></div>

    <div class="card-deck">
       <div class="card">
         <img src="../../../assets/kap1.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
            <div class="btn btn-primary w-100" (click)="showMsg1();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg1">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>

           
         </div>
       </div>
       <div class="card">
         <img src="../../../assets/kap2.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
           <div class="btn btn-primary w-100" (click)="showMsg2();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg2">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
           
         </div>
       </div>
       <div class="card">
         <img src="../../../assets/kap3.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
           <div class="btn btn-primary w-100" (click)="showMsg3();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg3">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
           
         </div>
       </div>
    </div>


    <div class="space"></div>



    <div class="card-deck">
      <div class="card">
        <img src="../../../assets/kap4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card</p>
          <div class="btn btn-primary w-100" (click)="showMsg4();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg4">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
          
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/kap5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card</p>
          <div class="btn btn-primary w-100" (click)="showMsg5();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg5">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
          
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/kap6.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card</p>
          <div class="btn btn-primary w-100" (click)="showMsg6();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg6">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
          
        </div>
      </div>
   </div>


   <div class="space"></div>


    <div class="card-deck">
       <div class="card">
         <img src="../../../assets/kap7.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
           <div class="btn btn-primary w-100" (click)="showMsg7();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg7">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
           
         </div>
       </div>
       <div class="card">
         <img src="../../../assets/kap8.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
           <div class="btn btn-primary w-100" (click)="showMsg8();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg8">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
           
         </div>
       </div>
       <div class="card">
         <img src="../../../assets/kap9.webp" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Card title</h5>
           <p class="card-text">This is a wider card</p>
           <div class="btn btn-primary w-100" (click)="showMsg9();">Buy Now </div>
            <div class="alert alert-success w-100 text-center" *ngIf="msg9">Buying is success</div>
            <div class="btn btn-link w-100" (click)="gotohome();">Back To Home Page</div>
           
         </div>
       </div>
    </div>

    
</div>

<app-styles-footer></app-styles-footer>



