




form{

    width: 50%;
    margin: auto;
    background-image: url(../../../assets/form.gif);
    background-size: cover;
    color: rgb(238, 19, 37);
    height: 500px;
    padding: 50px;
    font-weight: 700;
    font-size: 18px;
    font-family: cursive;
}